<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Louie App</title>
</head>
<body>
  
  <div>
    <h1 class="title-container">Fed Or Not</h1><br><br>
  </div>

  <div class="middleSection">
    <%= form_with scope: :article, url: articles_path, local: true do |form| %> 

      <tr>
        <td>

          Louie has been fed by <br><span> <%= form.select(:class_name, (Article::CLASS_LIST), {}, {class: "btn-primary"}) %></span>
        

        </td><br>
        <td>on <br> <span><%= form.select(:week_name, (Article::WEEK_LIST), {}, {class: "btn-primary"}) %></span></td><br>
        <td>the <br> <span> <%= form.select(:date_name, (Article::DATE_LIST), {}, {class: "btn-primary"}) %></span></td><br><br>
        <td><span><%= form.submit "Submit", class: "btn-primaryOne" %></span></td>
      </tr>

    <% end %>

<br>
<a href="/articles">Louie History</a>

</body>
</html>

  



